.aboutUs{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: url(../img/nosotros.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
}
@media (min-width: 992px) { 
  .aboutUs{
    grid-template-columns: repeat(3,1fr);
  }
}
.aboutUs__content{
  background-color: var(--clr-white);
  padding: 2.5rem;
}
@media (min-width: 768px) { 
  .aboutUs__content{
    padding: 3.125rem;
  }
}
@media (min-width: 992px) { 
  .aboutUs__content{
    grid-column: 2/4;
  }
}
.aboutUs__content h2{
  font-size: 2.25rem;
}
@media (min-width: 768px) { 
  .aboutUs__content h2{
    font-size: 3.625rem;
  }
}
.aboutUs__content h2,
.aboutUs__content p{
  margin-bottom: .625rem;
}