.footer{
  height: 31.25rem;
  background: url(../img/footer_bg.jpg) no-repeat center center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--clr-white);
}
.footer a{
  color: var(--clr-white);
  font-size: 1.25rem;
}
.copyright{
  background-color: var(--clr-black);
  text-align: center;
  margin-top: 3.125rem;
  font-size: 1rem;
  padding: .625em;
}